<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form th:action="@{/admin/courses}" th:object="${courseForm}" th:method="post">
  <table>

    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{name}"/></td>
      <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
    </tr>

    <tr>
      <td>Description:</td>
      <td><input type="text" th:field="*{description}"/></td>
      <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</td>
    </tr>

    <tr>
      <td>Price:</td>
      <td><input type="text" th:field="*{price}"/></td>
      <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Name Error</td>
    </tr>

    <tr>
      <td>Order:</td>
      <td><input type="text" th:field="*{orderIndex}"/></td>
      <td th:if="${#fields.hasErrors('orderIndex')}" th:errors="*{orderIndex}">Name Error</td>
    </tr>

  </table>

  <button th:type="submit">Submit</button>
</form>


<table>
  <th>
  <td>Name</td>
  <td>Description</td>
  <td>Price</td>
  </th>
  <tr th:each="course : ${courses}">
    <td th:text="${course.name}">default name</td>
    <td th:text="${course.description}">default description</td>
    <td th:text="${course.price}">default price</td>
  </tr>
</table>
</body>
</html>