<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 th:text="${intValue}"></h1>
<ul>
  <li th:each="number : ${list}" th:text="${number}">
  </li>
</ul>
<h1 th:text="#{main.page.greeting}"></h1>
<table>
  <th>
    <td>Name</td>
    <td>Description</td>
    <td>Price</td>
  </th>
  <tr th:each="course : ${courses}">
    <td th:text="${course.name}">default name</td>
    <td th:text="${course.description}">default description</td>
    <td th:text="${course.price}">default price</td>
  </tr>
</table>

</body>
</html>